<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pepleohealth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.peoplehealth.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.peoplehealth.activity.OrderCheckInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.peoplehealth.activity.CompleteBaseInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.HealthReportActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.InterestingContentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.FirstStartActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.MallActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.ManagerSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.MyFavoriteActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.OrderManagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.PayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.ProductDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.ProductEvaluteActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.ProductListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.QuickRegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.ShoppingCartActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.peoplehealth.activity.WelcomeActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>